<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Flask</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<style>
    table, td, th {
    border: 1px solid black;
}
</style>
<body>
    <h2>Músicas cadastradas - {{ titulo }}</h2>

    <table>

        <thead>
            <tr>
                <th>Música</th>
                <th>Cantor / Grupo / Banda</th>
                <th>Genero</th>
            </tr>
        </thead>


        <tbody>
            {% for music in musicas %}
            <tr>
                <td>{{ music.nome }}</td>
                <td>{{ music.cantorBanda }}</td>
                <td>{{ music.genero }}</td>
            </tr>
            {% endfor %}
        </tbody>
        

    </table>
</body>
</html>