<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post" action="/autenticar">

        <fieldset>

            <legend>Entre com suas informações:</legend>
            <label>Usuário</label>
            <input type="text" name="nomeUser">
    
            <label>Senha</label>
            <input type="password" name="senhaUser" id="">

            <button type="submit">Entrar</button>

        </fieldset>
        
    </form>
    
</body>
</html>